<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/sidebar.html'" ng-controller="SidebarCtrl"></ng-include>
<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-9 col-md-9 col-lg-10 col-xl-10 text-left">
			<div class="jumbotron redColor text-center">
				<h2>Pokédex</h2>
			</div>

			<!-- Search Results -->
			<div class="row">
				<label class="marginright4 margin20 padding0" >Sort</label>
				<select ng-model="type" ng-init="type = 'id'" ng-change="sortPokedex(type)">
					<option value="id">Id</option>
					<option value="name">Name</option>
					<option value="health">Health</option>
					<option value="defense">Defense</option>
					<option value="attack">Attack</option>
				</select>
				<h1 class="text-center">{{loading}}</h1>

				<div class="text-center" ng-repeat="poke in sortedPokedex">
					<div class="col-sm-4 col-md-2 col-lg-2 col-xl-1 alignrows" >
						<a class="thumbnail" href="#!/info/{{poke.pokemon.national_id}}">
							<img ng-src="../images/{{poke.pokemon.national_id}}.png" class="img100">
							{{poke.pokemon.name}}
							<div ng-repeat="type in poke.pokemon.types">
								<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
									<img src="../images/types/{{type.name}}.png" alt="Loading..." class="img100">
								</div>		
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									HP: {{poke.pokemon.hp}} <br>
									ATTACK: {{poke.pokemon.attack}}<br>
									DEFENSE: {{poke.pokemon.defense}}
								</div>
							</div>
						</a>

					</div>
					{{loadingDone()}}
				</div>
			</div>
		</div>
	</div>
</div>