<ng-include src="'partials/confirmation-header.html'" ng-controller="ConfirmationHeaderCtrl"></ng-include>


<div class="container-fluid" id="view5">    
	<div class="row content">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left fill-height">

			<!-- Recipes -->
			<div class="row text-center bottom-align">
				<div class="col-sm-3 col-md-2 col-lg-2 col-xl-1 col-md-offset-2 " id="starterThumbnail">
					<a href="#!/dish/{{starter.id}}" class="thumbnail">
						<img class="img100" src={{starter.image}} alt={{starter.title}}>{{starterPlaceholder}}
						<strong class="blackColor"> {{starter.title}}</strong>
						<p class="blackColor">{{starterPrice}} SEK</p>
					</a>
				</div>

				<div class="col-sm-3 col-md-2 col-lg-2 col-xl-1" id="mainDishThumbnail">
					<a href="#!/dish/{{mainDish.id}}" class="thumbnail">
						<img class="img100" src={{mainDish.image}} alt={{mainDish.title}}>{{mainDishPlaceholder}}
						<strong class="blackColor"> {{mainDish.title}}</strong>
						<p class="blackColor">{{mainDishPrice}} SEK</p>
					</a>
				</div>

				<div class="col-sm-3 col-md-2 col-lg-2 col-xl-1" id="dessertThumbnail">
					<a href="#!/dish/{{starter.id}}" class="thumbnail">
						<img class="img100" src={{dessert.image}} alt={{dessert.title}}>{{dessertPlaceholder}}
						<strong class="blackColor"> {{dessert.title}}</strong>
						<p class="blackColor">{{dessertPrice}} SEK</p>
					</a>					
				</div>

				<div class="col-sm-3 col-md-2 col-lg-2 col-xl-1">
					<span class="bottom-align" id="totalPrice">
						<strong>Total: </strong> {{totalMenuPrice}} SEK
					</span>
				</div>			
			</div>
			<div class="row text-center">
				<a class="btn btn-success btn-md  " href="#!/printrecipe" role="button" id="printRecipe">Print Full Recipe</a>	
			</div>
		</div>
	</div>
</div>