<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->


<div class="container-fluid fill-height vcenter" id="view1">
		<div class="row content">
			<div class="col-sm-12">
				<div class="col-sm-7 col-md-5 col-lg-4 col-xl-3 jumbotron opacity-50">
					<h2 class="underline">A home dinner service</h2>
					<p class="small-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<a class="btn btn-success btn-lg" href="#!/search" role="button">Create new dinner</a>
				</div>
			</div>
		</div>
	</div>