<!-- We include the sidebar as it is shared across two screens. -->

<div class="container-fluid">
	<div class="row text-center">
		<div class="panel panel-danger ">
			<div class="panel-heading">
				<h3>{{printTurn()}} turn to make a move...</h3>
			</div>
			<div class="panel-body">
				<h4>{{status}}</h4>
			</div>
		</div>
	</div>


	<div class="row content text-center">
		<!-- Pokémon -->
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<h1 class="blackColor">{{myPokemon.pokemon.name}}</h1>
			<h3>HP: {{myPokemon.pokemon.hp}}</h3>
			<div class="row">
				<svg width="150" height="10" id="myPokemonSVG"></svg>
			</div>
			
			<img class="img30" ng-src="../images/{{myPokemon.pokemon.national_id}}.png" alt={{myPokemon.pokemon.name}}>
			<h3 class="margintop0">Choose move:</h3>
			<div class="row">
				<div ng-repeat="move in myPokemon.pokemon.moves.slice(0,2)">
					<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
						<button href="" class="btn-group-justified btn btn-primary btn-lg" ng-click="playerAttacks(move.name)" ng-disabled="checkTurn()">{{move.name}}</button>
					</div>
				</div>
			</div>
			<div class="row center margintop20">
				<div ng-repeat="move in myPokemon.pokemon.moves.slice(2,4)">
					<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
						<button href="" class="btn-group-justified btn btn-primary btn-lg" ng-click="playerAttacks(move.name)" ng-disabled="checkTurn()">{{move.name}}</button>
					</div>
				</div>
			</div>
			<div class="row margintop20">
				<a href="#!/printPokemonlist" class="btn btn-primary btn-lg" ng-disabled="checkTurn()" ng-click="switchPokemon()">Switch Pokémon</a>
			</div>
			<div class="row">
				<a href="#!/search" class="btn btn-danger btn-lg margintop20" ng-click="reset()">Abort Battle</a>
			</div>
			
		</div>
		
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<h1 class="blackColor">{{opponentPokemon.pokemon.name}}</h1>
			<h3>HP: {{opponentPokemon.pokemon.hp}}</h3>
			<img class="img30" ng-src="../images/{{opponentPokemon.pokemon.national_id}}.png" alt={{opponentPokemon.pokemon.name}}>
			<!-- <div ng-repeat="move in opponentPokemon.pokemon.moves.slice(0,4)">
				<a href="" class="btn-group-justified btn btn-primary btn-lg" ng-click="opponentAttacks(move.name)">{{move.name}}</a>
			</div> -->
		</div>
	</div>
</div>