<!-- We include the sidebar as it is shared across two screens. -->

<div class="container-fluid">    
	<div class="row content">
		<!-- Pokémon -->
		<div class="row text-center">
			<div class="col-sm-4 col-md-4 col-lg-2 col-xl-1">
				<div class="col-sm-4 col-md-4">
				<a href="#" class="thumbnail">

				<strong class="blackColor">{{myPokemon[0].name}}</strong>
					<img class="img100" ng-src="../images/{{myPokemon[0].national_id}}.png" alt={{myPokemon[0].name}}>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-md-12 col-lg-2 col-xl-1">
		<div class="col-sm-4 col-md-4">
			<a href="#" class="thumbnail">
				<strong class="blackColor">{{opponentPokemon[0].name}}</strong>
				<img class="img100" ng-src="../images/{{opponentPokemon[0].national_id}}.png" alt={{opponentPokemon[0].name}}>
			</a>
		</div>
	</div>
</div>
</div>
</div>
</div>

