<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
	looks a bit nicer. -->
	<div class="row text-center">
		<br><br><br>
		<h1>Welcome to Pokémon Online!</h1>
		<h2>To start battling, choose a player</h2><br><br><br>
	</div>
	
	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xl-offset-1">
			<button onclick="window.location.href='#!/search'" class="btn btn-block btn-danger btn-lg" ng-click="setPlayer(1)" ng-disabled="checkPlayer(1)">
				<h1>Player 1</h1>
			</button>

		</div>

		<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xl-offset-1">
			<button onclick="window.location.href='#!/search'" class="btn btn-block btn-danger btn-lg" ng-click="setPlayer(2)" ng-disabled="checkPlayer(2)">
				<h1>Player 2</h1>
			</button>
		</div>
		
	</div>
