<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/sidebar.html'" ng-controller="SidebarCtrl"></ng-include>
<div class="container-fluid">    
	<div class="row content">
		<!-- Pokémon -->
		<div class="row text-center">
			<div ng-repeat="poke in myPokemonData">
				<div class="col-sm-4 col-md-2 col-lg-2 col-xl-1">
					<div class="col-sm-4">
						<a href="#!/battle" ng-click="setChosenPokemon(poke.pokemon)" class="thumbnail">
							<strong class="blackColor">{{poke.pokemon.name}}</strong>
							<img ng-src="../images/{{poke.pokemon.national_id}}.png" alt={{poke.pokemon.name}}>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</div>

