<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/sidebar.html'" ng-controller="SidebarCtrl"></ng-include>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
	not support it in free version) and list all the dishes that match the search. -->
	
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-9 col-md-9 col-lg-10 col-xl-10 text-left">
				<div class="jumbotron redColor">
					<h2>Pokédex</h2>
					<input ng-model="query" placeholder="Search on id, name, type..."/>

					<a class="btn btn-danger btn-sm" ng-click="" href="" role="button" id="searchButton">Search</a>
					{{status}}
				</div>

				<!-- Search Results -->
				<div class="row text-center">
					<div ng-repeat="poke in sortPokedex()">
						<div class="col-sm-4 col-md-2 col-lg-2 col-xl-1">
							<a href="#!/info/{{poke.pokemon.national_id}}">
								<img ng-src="../images/{{poke.pokemon.national_id}}.png" class="img100">
								{{poke.pokemon.name}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

