

<div class="col-sm-3 col-md-3 col-lg-2 col-xl-2 sidenav fill-height">

	<h3>My Pokémon</h3>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-6">Name</div>
				<div class="col-sm-6">Type</div>
			</div>
		</div>
		<div class="panel-body" id="menuPanelBody">
			<div ng-repeat="poke in sortMyPokemon()">
				<div class="row">
					<div class="col-sm-1">
						<a class="btn btn-danger btn-xs deleteButton" href="" role="button" ng-click="">X</a>
					</div>
					<div class="col-sm-5">
						{{poke.pokemon.name}}
					</div>
					<div class="col-sm-5">
						{{poke.pokemon.types[0].name}}
					</div>
				</div>

			</div>
		</div>
		<div class="panel-footer text-right" id="menuPanelFooter">
		</div>
	</div>
	<p class="text-center"><a class="btn btn-danger btn-md" href="#!/printPokemonlist" role="button" id="confirmDinner">Battle</a></p>	
</div>