<!-- We include the sidebar as it is shared across two screens. -->

<div class="container-fluid">    
	<div class="row content">
		<!-- Pokémon -->
		<div class="row text-center">
			<div ng-repeat="poke in myPokemon">
				<div class="col-sm-12 col-md-12 col-lg-2 col-xl-1">
					<div class="col-sm-12 col-md-12">
						<a href="#!/battle/{{poke.pokemon.national_id}}" class="thumbnail">
							<strong class="blackColor">{{poke.pokemon.name}}</strong>
							<img class="img100" ng-src="../images/{{poke.pokemon.national_id}}.png" alt={{poke.pokemon.name}}>
						</a>
					</div>
				</div>
			</div>

				<div class="col-sm-12 col-md-12 col-lg-2 col-xl-1">
					<div class="col-sm-12 col-md-12">
						<a href="#!/battle/{{opponentPokemon[0].pokemon.national_id}}" class="thumbnail">
							<strong class="blackColor">{{opponentPokemon[0].pokemon.name}}</strong>
							<img class="img100" ng-src="../images/{{opponentPokemon[0].pokemon.national_id}}.png" alt={{opponentPokemon[0].poke.pokemon.name}}>
						</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

