

<div class="col-sm-3 col-md-3 col-lg-2 col-xl-2 sidenav fill-height">

	<input ng-model="query" placeholder="Enter key words" size="10" />

	<a class="btn btn-primary btn-sm" ng-click="search(query, type)" href="" role="button" id="searchButton">Search</a>
	{{status}}

	<h3>My Pokémon</h3>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-4">Name</div>
				<div class="col-sm-4 text-right">Level</div>
				<div class="col-sm-4">Type</div>
			</div>
		</div>
		<div class="panel-body" id="menuPanelBody">
			<div ng-repeat="dish in menu">
				<div class="row">
					<div class="col-sm-1">
						<a class="btn btn-danger btn-xs deleteButton" href="" role="button" ng-click="removeDish(dish.id)">X</a>
					</div>
					<div class="col-sm-5">
						{{dish.title}}
					</div>
					<div class="col-sm-4">
						{{getDishPrice(dish)}}
					</div>
				</div>

			</div>
			<div class="row">

				<div class="col-sm-7 topline">
					
				</div>
				<div class="col-sm-4 topline">
					{{getPendingPrice()}}
				</div>
			</div>
		</div>
		<div class="panel-footer text-right" id="menuPanelFooter">
			<strong>{{calcMenuPrice()}}</strong>
		</div>
	</div>
	<p class="text-center"><a class="btn btn-primary btn-md" href="#!/printWatchlist" role="button" id="confirmDinner">See All</a></p>

	<p class="text-center"><a class="btn btn-primary btn-md" ng-click="getPokemon(23)" href="" role="button"">Run getAllPokemon</a></p>

	
</div>